* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.tree {
  fill: #36b54e;
  fill-opacity: 1;
  stroke-width: 1px;
  stroke: #fff;
}
.span-block {
  display: block;
}
